body{
    margin: 0;
    padding: 0;
    background: #f3eded;  
}



/* start about-us & google map style */

.about-us h1 
{
 text-align: center; 
 padding: 30px;


}
.about-us  p{
    text-align: justify;
    padding: 10px;
    color:black;
    font-size: 18px;
    /* font-family: 'Droid Arabic Kufi', serif; */
}
#map_container
{
    padding-top:20px;
    padding-bottom:20px;
   
    
}

/* end about-us & google map style */



/* statr copyright */

.copyright{
    
    padding-top:20px;
    background:rgb(61, 58, 58);
    color: rgb(247, 244, 244);
}

 
	#p1{
	font-size:45px;
	font-weight: bold;
	text-align: center;
	}
	#p2{
	font-size:20px;
	font-weight: bold;
	text-align: center;
	}
	
	.lead{
	text-align: center;
   
	}
/* end copyright */
