body{
    margin: auto;
    padding: 0;
    background: #f9f9f9;  
    font-family: Cairo;
}

#nav{
    background-color:#131413;
    padding: 10px;
}
#logo{
   
    margin: 0;
    padding-left: 60px;
    
}
#logo h1{
    color: white;
}
#navbar{
    padding: 0;
    background-color:#131413;
}

#main{
    color: white;
    text-align: center;
    padding: 200px;
    background: url("../images/2.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
}
/* start about-us & google map style */

.about-us h1 {
 text-align: center; 
 padding: 30px;
}

.green-text{
    color: #33ce3b;
}
.about-us  p{
    text-align: center;
    padding: 10px;
    color:black;
    font-size: 18px;
    margin: 0;
    /* font-family: 'Droid Arabic Kufi', serif; */
}
#map_container
{
    padding-top:20px;
    padding-bottom:40px;
   
    
}

/* end about-us & google map style */



/* statr copyright */

.copyright
{
    
    padding-top:20px;
    background-color:#131413;
    color: rgb(247, 244, 244);
}

/* end copyright */

.market:hover{box-shadow:5px 5px 10px rgb(17, 197, 17);}/* for the picture of appstore and market play*/

/* start section 1*/
#p1 h1{
	font-size:45px;
	font-weight: bold;
	text-align: center;
	
	}
#p2 h3{ 
	font-size:20px;
	font-weight: bold;
	text-align: center;
	color: 	white;
}
	
.lead{
	text-align: center;
   
}

#pooroldman{
    background-attachment: fixed;
    size: 100%;
}

#top-part{
      
      background-attachment: fixed;
	  size: 100%;
	  }
#topmost{
      background: rgb(47, 155, 20);
      opacity: 0.8;
}
#top-most{
      height: 139px;
}
#topmenu{
      background: rgb(55, 184, 23);
      opacity: 0.8;
      height: 51px;
      border-radius: 0 0 20px 20px;
}
/*end section 1*/